{{vm.order}}
<h1>{{ 'order.title' | translate }}
    <span ng-show="vm.allItemOrders.length" class="pull-right">
        <a class="btn btn-success pull-right" href="" ng-click="vm.finalizeCurrentPayment()"><span class="glyphicon glyphicon-circle-arrow-right"></span> {{ 'order.finalize' | translate }}</a>
        <h4 class="pull-right"> {{vm.order.totalValue | currency}} </h4>
    </span>
</h1>

<div ng-cloak class="ng-cloak" ng-show="vm.allItemOrders.length">
    <div id="orders" class="row list-group">
        <div class="item  col-xs-4 col-lg-4" ng-repeat="itemOrder in vm.allItemOrders">
            <div class="thumbnail">
                <div class="item-image">
                    <img class="group list-group-image img-responsive" src="{{itemOrder.productItem.urlImage}}"
                         alt="{{itemOrder.productItem.name}}"/>
                </div>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        {{itemOrder.productItem.name}}</h4>
                    <p class="group inner list-group-item-text">
                        {{ 'order.quantity' | translate }}: {{itemOrder.quantity}}</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">{{itemOrder.totalPrice | currency}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>